  body{
    background-image: radial-gradient(#cf6a87,#f8a5c2,#f3a683,#f5f6fa);
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #596275;
    border: none;
    background: #f5f6fa;
    max-width: 400px;
  }
  .todos li{
    background: #f5f6fa;
    color: #596275;
  }
  
  .delete{
    cursor: pointer;
  }

  .searchbar{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    ::placeholder{
      color: #596275;
    }

    .filtered{
      display: none !important;
    }
